*{
    box-sizing: border-box;
}

html { 
    overflow-x: hidden; 
}

body{
	margin: 0px;
    padding: 0px;
    font-size: 18px;
    font-family: Rubik,sans-serif;
}

.container{
    padding: 0 20px; 
}

.header-inner{
    max-width: 1100px;
    margin: 0 auto;
}

.header{    
    padding-bottom: 100px;
    padding-top: 20px;;
}

.header-name{
    display: inline-block;
    font-size: 42px;
 
    text-transform: uppercase;
    letter-spacing: 6px;
    font-weight: 400;
    padding-top: 100px;
    color: #706f6f;
}

.header-occupation{
    font-size: 28px;
    font-weight: bold;
  
    letter-spacing: 1px;
    color:#c8aa8c;
    padding-top: 45px;
}

.header-contacts{
    padding-top: 45px;
}

.header-contacts__date{
    display: inline-block;
    color: #706f6f;
}

.header-contacts__title{
    color:#c8aa8c;
    padding-right: 40px;
}

.header-contacts__link{
    text-decoration: none;
    color:#706f6f;
}

.header-contacts__item{
    padding: 10px 0;
    font-size: 22px;
    font-weight: 200;
}

.header-socials__link{
    font-size: 30px;
    color:#c8aa8c;
    padding-right: 20px;
}

.header-socials__title{
    color:#706f6f;
    padding-right: 40px;
}

.header-socials{
    padding-top: 50px;
    padding-bottom: 65px;
}

.header-resume{
    
    display: inline-block;
    position: relative;
}

.header-resume__btn{
    text-decoration: none;
    border: 1px solid #706f6f;
    padding: 15px;
    padding-left: 60px;
    color: #706f6f;
    text-transform: uppercase;
    font-size: 16px;
    box-shadow: 0 4px 25px rgba(0,0,0,.25);
}

.header-resume__link{
    font-size: 30px;
    color: #c8aa8c;
    padding-right: 20px;
    position: absolute;
    top: -5px;
    left: 10px;
}

.inner{
    max-width: 1100px;
    margin: 0 auto;

}

.title{
    margin: 0;
    text-transform: uppercase;
    color: #c8aa8c;
    margin-right: 100px;
}

.education{
    padding-bottom: 20px;
    padding-top: 20px;
}

.education-items{
    border-top: 3px solid #c8aa8c;
    margin-top: 11px;
}

.education-item{
    padding: 15px 0px;
    line-height: 25px;
}

.education-item__date{
    color: #c8aa8c;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
}

.education-item__institution{
    color: #706f6f;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 500;
}

.education-item__course{
    color: #706f6f;
    font-size: 16px;
}

.career{
    padding-bottom: 20px;
    padding-top: 20px;
}

.career-experience{
    border-top: 3px solid #c8aa8c;
    margin-top: 11px;
}

.career-items{
    display: flex;
    padding-top: 10px;
}

.career-item{
    padding-right: 50px; 
    line-height: 25px; 
}

.career-item__date{
    color: #c8aa8c;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
    padding-top: 5px;
}

.career-item__company{
    color: #706f6f;
    font-size: 16px;
    font-weight: 500;
}

.career-item__occupation{
    color: #706f6f;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
}

.career-item__responsibilities{
    color: #706f6f;
}

.profSkills{
    padding-bottom: 20px;
    padding-top: 20px;
}

.list{
    padding-top: 10px;
    border-top: 3px solid #c8aa8c;
    margin-top: 11px;
    line-height: 25px; 
    color: #706f6f;
}

.certificates{
    padding-bottom: 20px;
    padding-top: 20px;
}

.certificates-items{
    padding-top: 10px;
    border-top: 3px solid #c8aa8c;
    margin-top: 11px;
    line-height: 25px; 
    color: #706f6f;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.certificates-item{
    margin-left: 15px;
    text-align: center;
}

.certificates-item__name{
    color: #c8aa8c;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
    padding-top: 5px;
}

.certificates-item__id{
    color: #706f6f;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 500;
    display: block;
}

.certificates-item__img{
    box-shadow: 0 4px 25px rgba(0,0,0,.25);
    margin-top: 20px;
    padding: 10px;
    width: 250px;
    border-top: 2px solid #c8aa8c;
    border-left: 2px solid #c8aa8c;
    border-bottom: 2px solid #706f6f;
    border-right: 2px solid #706f6f;
    border-radius: 7px;

}

.language{
    padding-bottom: 20px;
    padding-top: 20px;
}

.language-items{
    padding-top: 10px;
    border-top: 3px solid #c8aa8c;
    margin-top: 11px;
    line-height: 25px; 
    color: #706f6f;
}

.language-item{
    color: #706f6f;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 500;
}

.portfolio{
    padding-bottom: 20px;
    padding-top: 20px;
}

.portfolio-items{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border-top: 3px solid #c8aa8c;
}

.portfolio__item{
    text-decoration: none;
    padding-left: 15px;
    padding-right: 15px;
}

.portfolio-item__img{
    box-shadow: 0 4px 25px rgba(0,0,0,.25);
    margin-top: 20px;
    padding: 10px;
    width: 350px;
    border-top: 2px solid #c8aa8c;
    border-left: 2px solid #c8aa8c;
    border-bottom: 2px solid #706f6f;
    border-right: 2px solid #706f6f;
    border-radius: 7px;
}


.personal{
    padding-bottom: 20px;
    padding-top: 20px;
    
}

.main{
    overflow: hidden;
}